/*
.resetPassword {
    width:500px;
    margin:0 auto;
}
.resetPassword h1{
    font-size:15px;
    text-align:left;
    border-bottom: 4px solid #ccc;
}
.resetPassword .instrucciones{
    font-size:12px;
    color:#666;
    text-align:left;
    font-style:italic;
    margin:10px 0;
}
.resetPassword .field label{
    font-size:12px;
    color:black;
    font-weight:bold;
}
.resetPassword .field input.emailbox{
    font-size:12px;
    color:black;
    padding:2px;
    border:1px solid #ccc;
    background:white;
    width:150px;
    border-radius:5px;
}
.resetPassword .field input.emailbox:focus{
    box-shadow:0px 0px 10px #00B2FF;
}
.resetPassword .field input.notouch{
    color:#666;
    font-style:italic;
}
.resetPassword .field input.error{
    background:rgb(255, 231, 231);
}
.resetPassword .mensaje{
    font-size:16px;
    color:black;
    font-weight:bold;
    margin:50px 0;
}
*/